<div ng-controller="searchForm" class="serchContainer">
   <div id="overlay" ng-if="loader"><img id="loading" src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"></div>
   <div class="float-left">
      <form name="searchForm">
         <div>
            <ul>
               <li ng-repeat="tab in tabs" ng-class="{active:tab.title=='One-way'}" 
                  ng-click="onClickTab(tab, $event)">{{tab.title}}</li>
               <div class="clear"></div>
            </ul>
         </div>
         <div class="form-control float-left">
            <label >From : </label>
            <input title="Journey start location" required
               ng-model="formData.startPlace" placeholder="Origin" name="startPlace" type="text"/>
         </div>
         <div class="form-control float-right">
            <label>To : </label>
            <input title="Destination location" required ng-model="formData.endPlace" placeholder="Destination" id="endPlace" name="endPlace" type="text"/>
         </div>
         <div class="clear"></div>
         <div class="form-control float-left">
            <label>Start date :</label>
            <input required ng-model="formData.depart" type="date" name="depart">
         </div>
         <div class="form-control float-right" ng-if="returnonly">
            <label>Return date :</label>
            <input required ng-model="formData.return" type="date" name="depart">
         </div>
         <div class="clear"></div>
         <div class="form-control">
            <label>Adults :</label>
            <select ng-model="formData.adult" ng-options="item for item in passengerlimit"></select>
            <label>Chilld :</label>
            <select ng-model="formData.child" ng-options="item for item in passengerlimit"></select>
            <label>Infant  :</label>
            <select ng-model="formData.infant " ng-options="item for item in passengerlimit"></select>
         </div>
         <div class="clear"></div>
         <div class="form-control float-left">
            <button class="btn btn-large btn-normal" title="Provide search details" ng-click="search();" ng-disabled="searchForm.$invalid">Search</button>
         </div>
         <div class="clear"></div>
      </form>
   </div>
   <div class="float-left searchresult" ng-if="searchresult">
      <table>
         <tr>
            <th>
               Aircraft 
            </th>
         </tr>
         <tr>
            <td ng-repeat="aircraftlist in aircraft">{{aircraftlist.name}}</td>
         </tr>
      </table>
      <table>
         <tr>
            <th>
               Airport
            </th>
         </tr>
         <tr>
            <td ng-repeat="airportlist in airport">{{airportlist.name}}</td>
         </tr>
      </table>
      <table>
         <tr>
            <th>Price</th>
            <th>
               Origin
            </th>
            <th>
               Destination
            </th>
            <th>
               ArrivalTime
            </th>
            <th>
               DepartureTime
            </th>
            <th>Duration</th>
         </tr>
         <tr ng-repeat="searchresult in tripsoption">
            <td>
               <span ng-repeat="sortprice in searchresult.pricing" class="db">
               Passanger type: <span ng-if="sortprice.ptc =='ADT'">
               Adult,  Count: {{sortprice.passengers.adultCount}}
               </span>
               <span ng-if="sortprice.ptc =='CNN'">
               Children Count: {{sortprice.passengers.childCount}}
               </span>
               <span ng-if="sortprice.ptc =='INS'">
               InfantIn Count: {{sortprice.passengers.infantInSeatCount}}
               </span>,SaleFareTotal:{{sortprice.saleFareTotal}},SaleTaxTotal:{{sortprice.saleTaxTotal}}, SaleTotal:{{sortprice.saleTotal}} 
               </span>
            </td>
            <td>
               <span ng-repeat="segmenttype in searchresult.slice[0].segment" class="db">
               <span class="db" ng-repeat="origin in segmenttype.leg">
               {{origin.origin}}
               </span>
               </span>
            </td>
            <td>
               <span ng-repeat="segmenttype in searchresult.slice[0].segment" class="db">
               <span class="db" ng-repeat="destination in segmenttype.leg">
               {{destination.destination}}
               </span>
               </span>
            </td>
            <td>
               <span ng-repeat="segmenttype in searchresult.slice[0].segment" class="db">
               <span class="db" ng-repeat="arrivalTime in segmenttype.leg">
               {{arrivalTime.arrivalTime}}
               </span>
               </span>
            </td>
            <td>
               <span ng-repeat="segmenttype in searchresult.slice[0].segment" class="db">
               <span class="db" ng-repeat="departureTime in segmenttype.leg">
               {{departureTime.departureTime}}
               </span>
               </span>
            </td>
            <td>
               <span ng-repeat="segmenttype in searchresult.slice[0].segment" class="db">
               <span class="db" ng-repeat="duration in segmenttype.leg">
               {{duration.duration}}
               </span>
               </span>
            </td>
         </tr>
      </table>
   </div>
</div>